# Supabase Credentials
SUPABASE_URL=https://bwnklsecrhigsbxxceuf.supabase.co
SUPABASE_PUBLISHABLE_API_KEY = sb_publishable_oByqr2Bq9mO8jHr0J-Cw2g_28Al2jHg
SUPABASE_ANON_KEY=sb_publishable_oByqr2Bq9mO8jHr0J-Cw2g_28Al2jHg
SUPABASE_SERVICE_KEY=sb_secret_DruWR8VQy3mU7vqBURqhNQ_vtI_w6ny
SUPABASE_DATABASE_NAME = byd_market_pulse
SUPABASE_DATABASE_PASSWORD = byd_market_pulse

# YouTube API
YOUTUBE_API_KEY=AIzaSyCB0h9ZN6bkFlPpQ5MIbcHeffnnR5FLr5E

# NewsAPI
NEWS_API_KEY=your-news-api-key-here

# Colab
COLAB_NOTEBOOK_URL=https://colab.research.google.com/drive/your-notebook-id
